<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- tell Spring to use annotation-based config (like @Autowired) -->
	<context:annotation-config />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	
	<bean id="mediaDao" class="com.repaskys.web.data.MediaDaoImpl"/>

	<bean id="mediaService" class="com.repaskys.web.services.MediaServiceImpl"/>

	<bean id="mediaAction" class="com.repaskys.web.actions.MediaAction"/>
	
</beans>